{% extends "dashboard_base.html" %}
{% block titel %}Overview{% endblock %}

{% block dashboard_content %}
    <h1>Overview</h1>
    <hr>
    <div class="container">

        <script type="text/javascript">
            $(document).ready(function() {

                var socket = io.connect();

                socket.on("connect", function() {
                    socket.send("User has connected!");
                });

            });
        </script>
        <ul id=messages></ul>
        <input type="text" id="myMessage">
        <button id="sendButton">Send</button>

        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Temperature</h5>
                        <canvas id="temperatureChart"></canvas>
                        <script type="text/javascript" src="{{ url_for('static', filename='chart_temp.js') }}"></script>
                        <script type="text/javascript">
                            initTemperatureChart( {{ temp_floor_data|safe }}, {{ temp_floor_date|safe }} );
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Humidity</h5>
                        <canvas id="humidityChart"></canvas>
                        <script type="text/javascript" src="{{ url_for('static', filename='chart_humi.js') }}"></script>
                        <script type="text/javascript">
                            initHumidityChart( {{ humi_floor_data|safe }}, {{ humi_floor_date|safe }} );
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}