{% extends "base.html" %}
{% block titel %}Dashboard{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <main role="main" class="col-lg-12 px-4">

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Air Temperature <i
                                            class="bi bi-thermometer text-primary"></i></h5>
                                    <p id="temperature_air" class="metric card-text text-center">0</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Soil Temperature <i
                                            class="bi bi-thermometer text-primary"></i></h5>
                                    <p id="temperature_ground" class="metric card-text text-center">0</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Air Humidity <i
                                            class="bi bi-cloud-drizzle text-primary"></i></h5>
                                    <p id="humidity_air" class="metric card-text text-center">0</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Soil Humidity <i
                                            class="bi bi-cloud-drizzle text-primary"></i></h5>
                                    <p id="humidity_ground" class="metric card-text text-center">0</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title card-title-switch">Light</h5>
                                    <div class="form-check form-switch switch-button">
                                        <input class="form-check-input" type="checkbox"
                                               id="flex_switch_light"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title card-title-switch">Pump</h5>
                                    <div class="form-check form-switch switch-button">
                                        <input class="form-check-input" type="checkbox"
                                               id="flex_switch_pump"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title card-title-switch">Heating</h5>
                                    <div class="form-check form-switch switch-button">
                                        <input class="form-check-input" type="checkbox"
                                               id="flex_switch_heating"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title card-title-switch">Fan</h5>
                                    <div class="form-check form-switch switch-button">
                                        <input class="form-check-input" type="checkbox"
                                               id="flex_switch_fan"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Temperature</h5>
                                    <canvas id="temperatureChart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Humidity</h5>
                                    <canvas id="humidityChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <button type="button" class="btn btn-primary" id="speech-rec">Speech Recognition</button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='dashboard.js') }}"></script>

{% endblock %}