<div class="col-lg-2 col-md-3 bg-light d-none d-md-block sidebar">
    <div class="left-sidebar">
        <ul class="nav flex-column sidebar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home.dashboard') }}"><i class="bi bi-bar-chart"></i> Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home.dashboard_temperature') }}"><i class="bi bi-thermometer"></i> Temperature</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home.dashboard_humidity') }}"><i class="bi bi-cloud-drizzle"></i> Humidity</a>
            </li>
          </ul>
    </div>
</div>